[submodule "gateway/contracts/googleapis"]
	path = gateway/contracts/googleapis
	url = https://github.com/googleapis/googleapis
[submodule "go-service/contracts/googleapis"]
	path = go-service/contracts/googleapis
	url = https://github.com/googleapis/googleapis
[submodule "dotnet-service/contracts/googleapis"]
	path = dotnet-service/contracts/googleapis
	url = https://github.com/googleapis/googleapis
[submodule "web-client/contracts/googleapis"]
	path = web-client/contracts/googleapis
	url = https://github.com/googleapis/googleapis.git
